.name {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 65px;
  margin-top: 50px;
}

#name_logo {
  width: 80px;
}

body {
  background: linear-gradient(90deg, red, blue);
  height: 100%;
  margin: 0;
  color: white;
}

#back {
  font-size: 20px;
  margin-right: 10px;
  float: right;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#logout {
  font-size: 20px;
  float: right;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.chat_container {
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 500px;
  padding: 10px;
}

#room_name_display {
  color: black;
}

#send_container {
  margin-top: 40%;
}

input {
  margin-bottom: 10px;
}

#send_container button {
  width: 180px;
}
