.name {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 65px;
  margin-top: 50px;
}

#name_logo {
  width: 80px;
}

body {
  background: linear-gradient(90deg, red, blue);
  height: 100%;
  margin: 0;
  color: white;
}

#back {
  font-size: 20px;
  margin-right: 10px;
  float: right;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#logout {
  font-size: 20px;
  float: right;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#notices {
  font-size: 20px;
  margin-right: 10px;
  float: right;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#name_display1 {
  color: white;
}

#name_display1 img {
  width: 30px;
  margin-top: 13px;
}

#send_container {
  margin-top: 40%;
}

#send_container button {
  width: 180px;
}

input {
  margin-top: 10px;
}