body {
  background: linear-gradient(90deg, red, blue);
  height: 100%;
  margin: 0;
  color: white;
}

.name {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 65px;
  margin-top: 50px;
}

#name_logo {
  width: 80px;
}

.room_name {
  cursor: pointer;
  font-size: 20px;
}

#logout {
  font-size: 20px;
  float: right;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#name_display1 {
  color: white;
}

#join_box {
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 500px;
  padding: 10px;
  margin-bottom: 15px;
}

#trending_rooms {
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 500px;
  padding: 10px;
}

#name_display1 img {
  width: 30px;
  margin-top: 13px;
}
